

absl-py

astunparse

cachetools

certifi

charset-normalizer

 click
 
 cudatoolkit

fastapi

 gast

google-auth



google-auth-oauthlib
google-pasta

grpcio

h11

 h5py

 idna

importlib-metadata


keras-preprocessing
 markdown

numpy

oauthlib

 opt-einsum

protobuf

pyasn1

pyasn1-modules

pydantic

requests






requests-oauthlib

 rsa

six

starlette
streamlit

 tensorboard
 
 tensorboard-data-server

 tensorboard-plugin-wit

 tensorflow
 
 
 
 
 
 
 tensorflow-estimator
 termcolor
 
 
 typing-extensions

urllib3

uvicorn

 werkzeug

wheel

 wrapt

 zipp


